@charset "UTF-8";


@mixin tb {
	@media all and (max-width: $bp1) {
		@content;
	}
}
@mixin sp {
	@media all and (max-width: $bp2) {
		@content;
	}
}


@mixin abc {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}