@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
  Layout
------------------------------------------------------------*/
@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
}

/* 全体構成
---------------------------------------------------------------- */
html{
  font-size: 62.5%; /*ベースを10pxにしています*/
}
body{
  margin:0 auto;
  padding:0;
  height:auto;
  width: 100%;
  font-size:14px;
  color:#202020;
  min-width: 320px;
  line-height:160%;
  /*スマホ対応*/
   font-family: 'Noto Serif JP', serif;
  -webkit-text-size-adjust:100%;
  text-size-adjust:100%;
  overflow-y: scroll; /*ローディングのガタツキ防止*/

}

#top{
}

html{
  height:100%;
}

img{
  margin:0;
  padding:0;
  vertical-align:bottom;
  line-height:0px;
}

ul{
  margin:0;
  padding:0;
}

li{
  margin:0;
  padding:0;
  list-style:none;
}
dl{
  margin:0;
  padding:0;
}

dd{
  margin:0;
  padding:0;
  list-style:none;
}
figure {
  margin: 0;
}
p{
  margin:0;
  padding:0;
  vertical-align:bottom;
}

a{
  outline: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
